#include "AboutDialogRes.h"
#include "../../GuiCommon.rc"
#include "../../MyVersion.h"

#define xc 216
#define yc 205

#define y 154

IDI_LOGO ICON "../../UI/FileManager/ZiprLogo.ico"

#ifndef SS_REALSIZEIMAGE
#define SS_REALSIZEIMAGE 0x800
#endif

IDD_ABOUT DIALOG 0, 0, xs, ys  MY_MODAL_DIALOG_STYLE  MY_FONT
CAPTION "About Zipr"
{
  DEFPUSHBUTTON  "OK", IDOK, bx3-10, by, bxs, bys
  PUSHBUTTON  "Activate", IDB_ABOUT_ACTIVATION, bx2-10, by, bxs, bys
  PUSHBUTTON  "www.Zipr.cn", IDB_ABOUT_HOMEPAGE, bx1-10, by, bxs+10, bys
  ICON   IDI_LOGO, -1, m, m, 32, 32, SS_REALSIZEIMAGE
  LTEXT  "", IDT_ABOUT_VERSION, m, 89, xc, 8
  LTEXT  "", IDT_ABOUT_DATE, m, 102, xc, 8
  LTEXT  MY_COPYRIGHT_CR, -1, m, 115, xc, 8
  LTEXT  "", IDT_ABOUT_INFO, m, 128, xc, (by - y - 1)
  LTEXT  "", IDT_ABOUT_INFO2, m, y, xc, (by - y - 1)
}
